.h3 {
    margin-top: 1rem;
    margin-left: 1rem;
}

.h4 {
    margin-bottom: .5rem;
}

.marginLeft {
    margin-left: 1rem;
}

.normalLineHeight {
    line-height: normal;
}

.radioContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.required {
    font-weight: bold;
    color: red;
}

.ul {
    padding-left: 0;
}

.bulletPoints {
    list-style-type: square;
}

.brandList ul {
    padding-left: 1rem;
}

.interestSelect {
    background-color: inherit;
    margin-bottom: 0;
}

.checkbox {
    margin-top: 1rem;
}

.checkbox label {
    display: flex;
    align-items: center;
}

.automaticallyAdded > * {
    margin: 0;
    padding: 0 auto;
    line-height: 1.7;
}

.padding {
    padding: 1rem;
}

.loading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}