.h3 {
    margin-top: 1rem;
    margin-left: 1rem;
}

.h4 {
    margin-bottom: .5rem;
}

.marginLeft {
    margin-left: 1rem;
}

.normalLineHeight {
    line-height: normal;
}

.radioContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.ul {
    padding-left: 0;
}

.bulletPoints {
    list-style-type: square;
}

.brandList ul {
    padding-left: 1rem;
}

.interestSelect {
    background-color: inherit;
    margin-bottom: 0;
}

.checkbox {
    margin-top: 1rem;
}

.checkbox label {
    display: flex;
    align-items: center;
}

.automaticallyAdded>* {
    margin: 0;
    padding: 0 auto;
    line-height: 1.7;
}

.padding {
    padding: 1rem;
}

.loading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.required {
    font-weight: bold;
    color: red;
}

.error {
    width: 100%;
    padding: 0 1rem;
    background-color: rgb(254, 217, 207);
    color: darkred;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.error .close {
    cursor: pointer;
    background-color: transparent;
    color: darkred;
    padding: 0;
    padding-right: .5rem;
}

.error .close:hover {
    color: black;
}

.errorBorder {
    border: 1px solid red !important;
}