.add_button__icon {
    vertical-align:text-top;
    margin-left: .7rem;
    font-size: medium;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.add_button:hover .add_button__icon {
    transform: rotate(90deg);
}

.selectLoading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.loading {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}