.main {
    gap: 1rem;
}

.section {
    background-color: var(--primary-color);
    padding: 1.5rem 1rem;
    gap: 1.5rem;
}

.sectionList {
    gap: .5rem;
    align-items: stretch;
}

.sectionTitle {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.marginZero {
    margin: 0;
}

.loading {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.link_button {
    margin-top: 1rem;
}

.link_button__icon {
    vertical-align: text-bottom;
    margin: auto 0.5rem;
    font-size: medium;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.link_button:hover .link_button__icon {
    transform: rotate(45deg);
}