.input_container {
    position: relative;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: var(--primary-darkest);
    transition: .2s border;
}

.edit_cursor {
    cursor:text;
}

.input_container p {
    margin: 0;
    width: 100%;
    padding: 0.7rem;
    font-weight: inherit;
}

.input_container:hover {
    border: 1px solid black;
}

.edit_icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    color: silver;
    transition: .2s color;
}

.input_container:hover .edit_icon {
    color: black;
}