.toDo {
    position: relative;
    margin-top: 1rem;
    border: 1px solid black;
    padding: 1rem;
}

.employeeSearch {
    max-height: 125px;
}

.employeeSearch li {
    text-align: left;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .2rem .6rem;
    cursor: pointer;
}