.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .2rem .6rem;
    cursor: pointer;
}

.toDo {
    position: relative;
    margin-top: 1rem;
    border: 1px solid black;
    padding: 1rem;
}

.editableinput_container {
    margin-bottom: 1rem;
}

.editableinput_container input {
    padding: 0.5rem;
    font-size: inherit;
}