.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .2rem .6rem;
    cursor: pointer;
}

.toDo {
    background-color: var(--primary-color);
    position: relative;
    margin-top: 1rem;
    padding: 1rem;
}

.editableinput_container {
    margin-bottom: 1rem;
}

.editableinput_container input {
    padding: 0.7rem;
    font-size: .875rem;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}