.newToDo {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: .5rem;
    border: 1px solid black;
}

.newToDo button {
    margin-top: 1rem;
}

.newToDo div {
    margin-top: 0;
}

.toDo {
    position: relative;
    margin-top: 1rem;
    border: 1px solid black;
    padding: 1rem;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .2rem .6rem;
    cursor: pointer;
}