:root{
    --primary-color :  #FFFFFF;
    --secondary-color : #000000 ;
}


body {
    margin: 0; 
    padding: 0;
    width: 100vw;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    color: var(--secondary-color);
    box-sizing: border-box; 
    
}

.header {
    display: flex;
    justify-content: flex-start;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
    background-color: var(--primary-color);
    width: 100vw; 
    height: 10vh;
}

.main {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    height: 10vh;
    width: 100vw;
    background-color: var(--primary-color);
}

.inputField {
    height: 2.5rem;
    width: 12.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    margin-top:2rem; ;
}

.prospectionform {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}
.button{
    background-color: var(--primary-color);
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 3rem;
    height: 2.5rem;
}
.button:hover{
    background-color: var(--secondary-color);
}
.home{
    color: var(--secondary-color);
    font-size: x-large;
}
.home:hover{
    color: var(--primary-color);
}
