.header__button {
    width: 3rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__icon {
    color: var(--primary-color);
    font-size: x-large;
}