/* ROOT/BODY ----------------------------------------------- */

/* color variables */
:root {
  --primary-color: #FFFFFF;
  --secondary-color: #000000;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  max-width: 750px;
  width: 100%;
}

/* STANDARD STYLING */

main {
  padding: 1rem;
}

button a {
  display: block;
}

input[type="text"],
input[type="number"],
textarea {
  font-family: inherit;
  padding: 0.5rem;
  font-size: 1rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
}

input[type="text"],
textarea {
  width: 100%;
}

fieldset {
  background-color: #f9f9f9;
  padding: 1rem;
  margin: 1rem 0;
}


/* FORM WIZARD ----------------------------------------------- */

.react-form-wizard {
  width: 100%;
}

/* remove upon styling differently */
.react-form-wizard .wizard-header {
  padding-top: 0;
  padding-bottom: 0;
}

.react-form-wizard .wizard-title {
  font-weight: bold;
}

.react-form-wizard .wizard-tab-content {
  text-align: left;
}

.form-wizard-steps {
  overflow: hidden;
}

.react-form-wizard.sm .wizard-icon-circle {
  padding: .7rem;
  height: 1rem;
  width: 1rem;
  font-size: small;
  margin-top: .7rem;
}

.react-form-wizard .stepTitle {
  font-size: small;
}

/* REACT SELECT  ----------------------------------------------- */

/* select menu has to appear on top of calendar */
.select__menu {
  background-color: white !important;
  z-index: 3 !important;
}

.react-select__option {
  display: block;
  font-size: 16px;
  color: rgb(36, 36, 36);
  padding: 11px 12px;
  width: 100%;
  user-select: none;
  box-sizing: border-box;
}

.react-select__option:hover {
  background-color: #EBECF0;
}

.react-select__option--is-selected {
  background-color: #42526E;
  color: #FFFFFF;
}

.react-select__option--is-selected:hover {
  background-color: #42526E;
}

/* FULL CALENDAR */

/* attempt to not have "day/month/week" button show on top of select */
.fc .fc-button-group>.fc-button.fc-button-active {
  z-index: 0 !important;
}

.fc-toolbar {
  text-transform: capitalize;
}

@media (max-width: 700px) {
  .fc-toolbar {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .fc-toolbar-chunk {
    font-size: 0.9rem;
    order: 2;
  }

  .fc-toolbar-chunk:nth-child(2) {
    flex-basis: 100%;
    order: 1;
    margin-bottom: 1rem;
  }

  .fc-toolbar-title {
    text-align: center;
    font-size: 1.75rem !important;
  }

  /* sticky day header has to appear on top of other elements, but BELOW select menu (z-index 3) */
  .fc-list-day>th {
    z-index: 2;
  }
}