
.toDoCard {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    margin-bottom: 0.5rem;
    padding: 1rem;
    background-color: white;
    white-space: pre-wrap;
}

.toDoCard h3 {
    margin: 0;
}

.todolabel {
    margin-top: 0.5rem;
    /* font-weight: 700; */
}