.h3 {
    margin-top: 1rem;
    margin-left: 1rem;
}

.streetContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: 1rem;
}

.streetContainer label {
    display: block;
}

.numberContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.number input {
    width: 100% !important;
}

.cityContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: .5rem;
}

.postalCode {
    width: calc(50% - 1rem);
}

.loading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.required {
    font-weight: bold;
    color: red;
}

.error {
    width: 100%;
    padding: 0 1rem;
    background-color: rgb(254, 217, 207);
    color: darkred;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.error .close {
    cursor: pointer;
    background-color: transparent;
    color: darkred;
    padding: 0;
    padding-right: .5rem;
}

.error .close:hover {
    color: black;
}

.errorBorder {
    border: 1px solid red !important;
}