.shopDetailCard {
  width: 100%;
  }
  
.shopDetailCard div {
  border: 1px solid black;
  /*border-radius: 8px;*/
  padding: 16px;
  margin-bottom: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shopDetailCard div p {
  font-size: 14px;
  color: black;
  margin: 4px 0;
}