.ul {
    list-style: none;
    padding: 1rem 0;
    margin: 0;
    width: 100%;
}

.li a {
    margin: .5rem 0;
    padding: .5rem .7rem;
    background-color: var(--primary-color);
}

.li__icon {
    vertical-align: text-bottom;
    margin: auto 0.5rem;
    font-size: medium;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.li:hover .li__icon {
    transform: rotate(45deg);
}