.ul {
    list-style: none;
    padding: 1rem 0;
    margin: 0;
    width: 100%;
}

.li a {
    margin: .5rem 0;
    padding: .5rem .7rem;
    background-color: var(--primary-color);
}

.icon {
    vertical-align: text-top;
    margin-left: 0.2rem;
    font-size: x-large;
}