.add_button__icon {
    vertical-align:text-top;
    margin-left: .7rem;
    font-size: medium;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.add_button:hover .add_button__icon {
    transform: rotate(90deg);
}

.ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
}

.li a {
    margin: .5rem 0;
    padding: .5rem .7rem;
    background-color: var(--primary-color);
}

.li__icon, .link_button__icon {
    vertical-align: text-bottom;
    margin: auto 0.5rem;
    font-size: medium;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.li:hover .li__icon,
.link_button:hover .link_button__icon {
    transform: rotate(45deg);
}

.overview {
    margin-top: 2rem;
    align-items: stretch;
}

.li__icon {
    vertical-align: text-bottom;
    margin: auto 0.5rem;
    font-size: medium;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

