.ul {
    padding-left: 0;
    list-style-type: none;
}

.li {
    text-align: center;
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: .5rem .7rem
}

ul li .icon {
    vertical-align: text-bottom;
    /* Align icon with text */
    margin-left: 0.2rem;
    /* Add spacing between the icon and the text */
    font-size: x-large;
}