.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.prospectionSection {
    display: flex;
    flex-direction: column;
}

.h1 {
    margin: 0.1rem;
}

.h2 {
    margin: 0.1rem;
}

.button {
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.button:hover a {
    color: #D4AF37; /* Gold color for the link text */
  }
.button:hover{
    background-color: var(--secondary-color);
}

.ul {
    padding-left: 0;
    list-style-type: none;
}

.li {
    text-align: center;
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: .5rem .7rem
}

ul li .icon {
    vertical-align: text-bottom;
    /* Align icon with text */
    margin-left: 0.2rem;
    /* Add spacing between the icon and the text */
    font-size: x-large;
}